<!DOCTYPE html>
<html xmlns:javascript="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap 模板</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- 引入导航栏样式 -->
    <link rel="stylesheet" href="css/navigation.css">

    <!-- 包括所有已编译的插件 -->
    <script src="js/bootstrap.min.js"></script>
    <!-- 模态窗口的打开需要依赖此文件 -->
    <script src="js/modal.js"></script>
    <!-- 引入搜索样式 -->
    <link rel="stylesheet" type="text/css" href="css/search_css/normalize.css"/>
    <link rel="stylesheet" href="css/search_css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/search_css/demo.css">
    <link rel="stylesheet" href="css/search_css/style.css">

    <!-- 引入公用的js-->
    <script src="./js/vue/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/common.js"></script>

    <!-- 引入自己写的样式 -->
    <link rel="stylesheet" href="css/index_style.css">
    <link rel="stylesheet" href="css/login_style.css">

    <link rel="stylesheet" href="static/element-2.12.0/index.css">
    <script src="static/element-2.12.0/index.js"></script>
</head>
<body>
<div id="Vue-app">
    <div class="header">   <!--line-height: 30px 将文字宽度与div一致 让文字居中 -->
        <!--<shotcut @deliver="getChildData(arguments)"></shotcut>-->   <!--组件化头部-->
        <div style="margin:0 auto;width:900px;height: 30px;line-height: 30px;font-size:15px">
            <span >
                <span style="float:right">
                    <a href="regist.html">注册</a>
                </span>
                <span style="float:right">&nbsp; | &nbsp;</span>
                <span style="float:right">
                     <a href="login.html">登录</a>
                </span>
            </span>
        </div>
    </div>


    <div class="container">
        <!--logo图片-->
        <div>
            <img src="img/sa_logo.png">
        </div>

        <!--导航条-->
        <div id="nav-1">
            <ul class="nav">
                <li class="slide1"></li>
                <li class="slide2"></li>
                <li><a class="active" href="index.html">首页</a></li>
                <li><a href="sys-report.html">系统公告</a></li>
                <li><a href="adopt.html">领养中心</a></li>
                <li><a href="daily.html">日常栏目</a></li>
                <li><a href="knowledge.html">宠物知识</a></li>
                <li><a href="about-us.html">关于我们</a></li>
                <!-- 搜索框 -->
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <li>
                    <div class="search d7">
                        <form>
                            <input type="text" placeholder="搜索从这里开始...">
                            <button type="submit"></button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <br><br>

        <!--========================开始注册页面的创建=========================-->
        <div class="regist">
            <div class="regist-continal">
                <!--登录界面左侧图片-->
                <div class="login-photo">
                    <img src="img/login.jpg" height="420px">
                </div>
                <br> <!--居中-->
                <!--注册表单-->
                <div class="regist-form">
                    <br>
                    <h4 style="color: #7fb06a">&emsp;用户注册</h4>
                    <form @submit.prevent="submit" novalidate>
                        <label for="username">帐号：</label>
                        <input v-model="user.username" id="username" name="username" class="form-control required" type="text" placeholder="请输入用户名" style="width: 80%"><br>
                        
                        <label for="password">密码：</label>
                        <input v-model="user.password" id="password" name="password" class="form-control required" type="password" placeholder="请输入注册密码" style="width: 80%"><br>
                    
                        <div class="form-group col-md-offset-2">
                            <button type="submit" class="btn btn-success">注册</button>
                            <a href="login.html">已有帐号，马上登录</a>
                        </div>
                        
                        <div v-if="message" style="color: red;">{{ message }}</div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 引入导航栏js,注意和引入顺序有关 必须放在后面 -->
<script src='js/jquery.min.js'></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios@1.6.8/dist/axios.min.js"></script>
<script type="application/javascript">
    var vm = new Vue({
        el: "#Vue-app",
        data(){
            return {
                user: {
                    username: '',
                    password: ''
                },
                message: ''
            }
        },
        methods: {
            submit() {
                if (!this.user.username || !this.user.password) {
                    this.message = '帐号和密码不能为空';
                    return;
                }
                axios.post('http://127.0.0.1/api/reguser', this.user, {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    })
                    .then(response => {
                        if (response.data.status === 0) {
                            alert('注册成功');
                            window.location = '/login.html';
                        } else {
                            alert('注册失败: ' + response.data.message);
                        }
                    })
                    .catch(error => {
                        alert('注册失败: ' + error.message);
                    });
            }
        }
    });
</script>
</body>
</html>